Utilizando o dataset Kaggle - https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017?select=results.csv

In [6]:
import pandas as pd

In [27]:
results = pd.read_csv('/content/drive/MyDrive/Arquivos de DataSets/results.csv.zip', parse_dates=['date'])

In [28]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44762 entries, 0 to 44761
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44762 non-null  datetime64[ns]
 1   home_team   44762 non-null  object
 2   away_team   44762 non-null  object
 3   home_score  44762 non-null  int64
 4   away_score  44762 non-null  int64
 5   tournament  44762 non-null  object
 6   city        44762 non-null  object
 7   country     44762 non-null  object
 8   neutral     44762 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.8+ MB

In [30]:
results_fifa = results[results['tournament'] == 'FIFA World Cup']

In [31]:
results_fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

In [32]:
results_fifa['year'] = results_fifa['date'].dt.year

<ipython-input-32-2d25f06a9098>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_fifa['year'] = results_fifa['date'].dt.year

In [34]:
results_fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True,2022
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True,2022
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True,2022
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True,2022
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True,2022

In [41]:
home_scores = results_fifa[['home_team', 'home_score', 'year']].rename({'home_team':'team', 'home_score':'score'}, axis='columns')
away_scores = results_fifa[['away_team', 'away_score', 'year']].rename({'away_team':'team', 'away_score':'score'}, axis='columns')

In [42]:
home_scores

            team  score  year
1311     Belgium      0  1930
1312      France      4  1930
1313      Brazil      1  1930
1314        Peru      1  1930
1315   Argentina      1  1930
...          ...    ...   ...
44349    England      1  2022
44351  Argentina      3  2022
44352     France      2  2022
44356    Croatia      2  2022
44358  Argentina      3  2022

[964 rows x 3 columns]

In [43]:
away_scores

                team  score  year
1311   United States      3  1930
1312          Mexico      1  1930
1313      Yugoslavia      2  1930
1314         Romania      3  1930
1315          France      0  1930
...              ...    ...   ...
44349         France      2  2022
44351        Croatia      0  2022
44352        Morocco      0  2022
44356        Morocco      1  2022
44358         France      3  2022

[964 rows x 3 columns]

In [45]:
scores_fifa = pd.concat([home_scores, away_scores]).reset_index(drop=True).fillna(0)

In [46]:
scores_fifa

           team  score  year
0       Belgium      0  1930
1        France      4  1930
2        Brazil      1  1930
3          Peru      1  1930
4     Argentina      1  1930
...         ...    ...   ...
1923     France      2  2022
1924    Croatia      0  2022
1925    Morocco      0  2022
1926    Morocco      1  2022
1927     France      3  2022

[1928 rows x 3 columns]

In [50]:
scores_fifa.groupby(['team', 'year']).score.sum().unstack().fillna(0)

year,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,...,1986,1990,1994,1998,2002,2006,2010,2014,2018,2022
team,,,,,,,,,,,,,,,,,,,,,
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Argentina,18.0,2.0,0.0,0.0,0.0,5.0,2.0,4.0,0.0,9.0,...,14.0,5.0,8.0,10.0,2.0,11.0,10.0,8.0,6.0,15.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,3.0,3.0,2.0,4.0
Austria,0.0,7.0,0.0,0.0,17.0,2.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
United States,7.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,3.0,1.0,7.0,2.0,5.0,5.0,0.0,3.0
Uruguay,15.0,0.0,0.0,15.0,16.0,0.0,4.0,2.0,4.0,1.0,...,2.0,2.0,0.0,0.0,4.0,0.0,11.0,4.0,7.0,2.0
Wales,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Yugoslavia,7.0,0.0,0.0,7.0,2.0,7.0,10.0,0.0,0.0,12.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
score_fifa_year = scores_fifa.groupby(['team', 'year']).score.sum().unstack().fillna(0).cumsum(axis=1)

In [106]:
flags = pd.read_csv('/content/drive/MyDrive/Arquivos de DataSets/countries-fifa-flags.csv')

In [107]:
flags.info

<bound method DataFrame.info of     code            country confederation  \
0    AFG        Afghanistan           AFC
1    AIA           Anguilla       CONCACF
2    ALB            Albania          UEFA
3    ALG            Algeria           CAF
4    ASA     American Samoa           OFC
..   ...                ...           ...
206  ISV  US Virgin Islands       CONCACF
207  WAL              Wales          UEFA
208  YEM              Yemen           AFC
209  ZAM             Zambia           CAF
210  ZIM           Zimbabwe           CAF

                                                   url
0          https://countryflagsapi.com/png/afghanistan
1             https://countryflagsapi.com/png/anguilla
2              https://countryflagsapi.com/png/albania
3              https://countryflagsapi.com/png/algeria
4     https://countryflagsapi.com/png/american%20samoa
..                                                 ...
206  https://countryflagsapi.com/png/us%20virgin%20...
207              https://countryflagsapi.com/png/wales
208              https://countryflagsapi.com/png/yemen
209             https://countryflagsapi.com/png/zambia
210           https://countryflagsapi.com/png/zimbabwe

[211 rows x 4 columns]>

In [108]:
score_fifa_year

<bound method DataFrame.reset_index of year                  1930  1934  1938  1950  1954  1958  1962  1966  1970  \
team
Algeria                0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Angola                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Argentina             18.0  20.0  20.0  20.0  20.0  25.0  27.0  31.0  31.0
Australia              0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Austria                0.0   7.0   7.0   7.0  24.0  26.0  26.0  26.0  26.0
...                    ...   ...   ...   ...   ...   ...   ...   ...   ...
United Arab Emirates   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
United States          7.0   8.0   8.0  12.0  12.0  12.0  12.0  12.0  12.0
Uruguay               15.0  15.0  15.0  30.0  46.0  46.0  50.0  52.0  56.0
Wales                  0.0   0.0   0.0   0.0   0.0   4.0   4.0   4.0   4.0
Yugoslavia             7.0   7.0   7.0  14.0  16.0  23.0  33.0  33.0  33.0

year                  1974  ...  1986  1990  1994   1998   2002   2006   2010  \
team                        ...
Algeria                0.0  ...   6.0   6.0   6.0    6.0    6.0    6.0    6.0
Angola                 0.0  ...   0.0   0.0   0.0    0.0    0.0    1.0    1.0
Argentina             40.0  ...  77.0  82.0  90.0  100.0  102.0  113.0  123.0
Australia              0.0  ...   0.0   0.0   0.0    0.0    0.0    5.0    8.0
Austria               26.0  ...  38.0  40.0  40.0   43.0   43.0   43.0   43.0
...                    ...  ...   ...   ...   ...    ...    ...    ...    ...
United Arab Emirates   0.0  ...   0.0   2.0   2.0    2.0    2.0    2.0    2.0
United States         12.0  ...  12.0  14.0  17.0   18.0   25.0   27.0   32.0
Uruguay               57.0  ...  59.0  61.0  61.0   61.0   65.0   65.0   76.0
Wales                  4.0  ...   4.0   4.0   4.0    4.0    4.0    4.0    4.0
Yugoslavia            45.0  ...  47.0  55.0  55.0   55.0   55.0   55.0   55.0

year                   2014   2018   2022
team
Algeria                13.0   13.0   13.0
Angola                  1.0    1.0    1.0
Argentina             131.0  137.0  152.0
Australia              11.0   13.0   17.0
Austria                43.0   43.0   43.0
...                     ...    ...    ...
United Arab Emirates    2.0    2.0    2.0
United States          37.0   37.0   40.0
Uruguay                80.0   87.0   89.0
Wales                   4.0    4.0    5.0
Yugoslavia             55.0   55.0   55.0

[82 rows x 22 columns]>

In [113]:
score_fifa_year.merge(flags, left_on='team', right_on='country', how='left')

,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,...,2002,2006,2010,2014,2018,2022,code,country,confederation,url
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,13.0,13.0,13.0,ALG,Algeria,CAF,https://countryflagsapi.com/png/algeria
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,ANT,Angola,CAF,https://countryflagsapi.com/png/angola
2,18.0,20.0,20.0,20.0,20.0,25.0,27.0,31.0,31.0,40.0,...,102.0,113.0,123.0,131.0,137.0,152.0,ARG,Argentina,CONMEBOL,https://countryflagsapi.com/png/argentina
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,8.0,11.0,13.0,17.0,AUS,Australia,OFC,https://countryflagsapi.com/png/australia
4,0.0,7.0,7.0,7.0,24.0,26.0,26.0,26.0,26.0,26.0,...,43.0,43.0,43.0,43.0,43.0,43.0,AUT,Austria,UEFA,https://countryflagsapi.com/png/austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,UAE,United Arab Emirates,AFC,https://countryflagsapi.com/png/united%20arab%...
78,7.0,8.0,8.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,25.0,27.0,32.0,37.0,37.0,40.0,NaN,NaN,NaN,NaN
79,15.0,15.0,15.0,30.0,46.0,46.0,50.0,52.0,56.0,57.0,...,65.0,65.0,76.0,80.0,87.0,89.0,URU,Uruguay,CONMEBOL,https://countryflagsapi.com/png/uruguay
80,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,5.0,WAL,Wales,UEFA,https://countryflagsapi.com/png/wales
81,7.0,7.0,7.0,14.0,16.0,23.0,33.0,33.0,33.0,45.0,...,55.0,55.0,55.0,55.0,55.0,55.0,NaN,NaN,NaN,NaN